<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <form action="/ajouter" method="post">
        <p>Nom : <input type="text" name="firstname" id="firstname"></p>
        <p>Prénom : <input type="text" name="lastname" id="lastname"></p>
        <p>Email : <input type="email" name="email" id="email"></p>
        <p>Poste : <input type="text" name="post" id="post"></p>
        <p>Salaire: <input type="number" name="salary" id="salary"></p>
        <p>Date D'embauche : <input type="date" name="hiring_date" id="hiring_date"></p>
        <p><input type="submit" value="Ajouter"></p>
        
    </form>
</body>
</html>