*{
    box-sizing: border-box;

}
a{
    margin: 0 ,2m;
    max-height: 10vh;
}
body{
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

h2,h3{
    text-align: center;
    justify-content: center;
    margin: auto;
}
#error{
    
    display: block;
    width: 50vw;
    height: 5vh;
   background-color: rgba(172, 96, 96, 0.5)

}
#valide{
   
    display: block;
    width: 50vw;
    height: 5vh;
    background-color: rgba(200, 233, 151,0.5)
}